footer {
    padding: 1.5em;
    background-color: $font_darkgrey;
    color: $font_dark;

    h2 {
        color: $font_dark;
        font-family: $titles;
        margin-top: 0;
        font-size: 1rem;
    }

    span {
        width: 25px;
        float: left;
    }

    i {
        margin-right: 0.5em;
    }

    a {
        color: $font_dark;
        display: block;
        text-decoration: none;
        margin-bottom: 0.3em;
    }

    a:hover, a:active {
        text-decoration: 1px solid $font_dark;
    }
}