header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .left-arrow {
        position: absolute;
        left: 5%;
        font-size: 2rem;
        color: $font_darkgrey;
        padding: 0.5em 0.25em;

        &:hover {
            cursor: pointer;
            text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            color: black;
        }
    }

    h1 {
        font-family: $titles;
        color: black;
    }

    a {
        max-width: 45%;
        display: flex;
        justify-content: center;
    }

    img {
        margin: 1em auto;
        width: 100%;
    }
}