header {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $titles;
        color: black;
    }

    a {
        max-width: 45%;
    }

    img {
        margin: 1em auto;
        width: 100%;
    }
}