.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light_highlight;
    text-align: center;

    .localisation {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $highlight;
        width: 100%;
        font-weight: 700;
        color: $font_darkgrey;
        box-shadow: inset 0px 11px 8px -10px rgb(172, 172, 172);

        i {
            margin-right: 1em;
        }

        p, i {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .book {
        padding: 1em;

        .subtitle {
            color: $font_lightgrey;
        }
    }

}