.background-wrapper {
    width: 100%;
    min-height: 250px;

    img {
        width: 100%;
        min-height: 250px;
        height: 250px;
        object-fit: cover;
    }
}

.menu {
    position: relative;
    margin-top: -30px;
    padding: 1em;
    background-color: $light_highlight;
    border-radius: 30px 30px 0 0;

    .menu-wrapper {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;

        h2 {
            margin: 0.3em 0;
            font-family: $titles;
        }

        i {
            font-size: 1.5rem;
        }

        .fa-regular {
            position: absolute;
            right: 15px;
            visibility: visible;
            transition: all 0.5s ease-in-out;
            padding: 1em;
        }

        .fa-solid {
            position: absolute;
            right: 15px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-in-out;
            padding: 1em;
        }

        &:hover {
            cursor: pointer;
        
            .fa-solid {
                visibility: visible;
                opacity: 1;
                color: #c465da;
            }

            .fa-regular {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .menu-section {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 2em;

        .unaligned {
            margin-left: 2em;
        }

        h3 {
            font-weight: 300;
            margin-bottom: 0.2em;
            font-size: 1rem;
        }

        .separator {
            height: 3px;
            background-color: $terciary;
            width: 35px;
        }

        .course-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            margin: 1em 0;
            height: 80px;
            border-radius: 20px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            
            h4 {
                margin-top: 0;
                margin-bottom: 0.5em;
                font-size: 1.1rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            
            .menu-text {
                position: relative;
                padding: 1em 0 1em 1em;
                flex-grow: 1;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;

                .flex {
                    display: flex;
                    justify-content: space-between;
                }
                
                p {
                    margin: 0;
                    font-size: 0.9rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                span {
                    margin-right: 1em;
                    font-weight: 700;
                    color: $font_darkgrey;
                    display: block;
                }
            }

            .check {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $terciary;
                color: white;
                min-height: 100%;
                visibility: hidden;
                opacity: 0;
                width: 0;
                flex-grow: 0;
                border-radius: 0 20px 20px 0;
                transition: all .8s ease;

                i {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            &:hover {
                cursor: pointer;


                .check {
                    display: flex;
                    flex-grow: 0.20;
                    visibility: visible;
                    width: 20%;
                    max-width: 20%;
                    opacity: 1;
                    transition: all 1s ease;

                    i {
                        animation: check-rotate 1s 1;
                    }
                }

                // .fa-solid {
                //     transform: rotateX(360deg);
                // }
            }
        }

        .delay-1 {
            animation: delay 2s 1;
        }

        .delay-2 {
            opacity: 0;
            animation: delay 2s 1 0.5s;
            animation-fill-mode: forwards;
        }

        .delay-3 {
            opacity: 0;
            animation: delay 2s 1 1.5s;
            animation-fill-mode: forwards;
        }
    }

    .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
         button {
            padding: 0.8em 2em;
            font-size: 0.95rem;
         }
    }
}

@keyframes check-rotate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@keyframes delay {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}