header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  max-width: 45%;
}
header img {
  margin: 1em auto;
  width: 100%;
}

.main-btn {
  padding: 1em 1.5em;
  margin: 1em;
  background-image: linear-gradient(125deg, hsl(307deg, 72%, 68%) 0%, hsl(304deg, 66%, 66%) 11%, hsl(301deg, 61%, 64%) 21%, hsl(297deg, 61%, 63%) 31%, hsl(294deg, 61%, 63%) 41%, hsl(290deg, 62%, 63%) 52%, hsl(287deg, 62%, 62%) 63%, hsl(284deg, 63%, 62%) 74%, hsl(280deg, 63%, 62%) 86%, hsl(277deg, 64%, 61%) 100%);
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  text-align: center;
}
.hero .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  font-weight: 700;
  color: #303030;
  box-shadow: inset 0px 11px 8px -10px rgb(172, 172, 172);
}
.hero .localisation i {
  margin-right: 1em;
}
.hero .book {
  padding: 1em;
}
.hero .book .subtitle {
  color: #717171;
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}
.howto h2 {
  width: 100%;
}
.howto .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #f7f7f7;
  font-weight: 700;
  margin: 1em 0;
  padding: 0.5em 0;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.howto .card span {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 50%;
}
.howto .card i {
  position: absolute;
  left: 11%;
  color: #717171;
}
.howto .card:hover {
  background-color: #f5edff;
}
.howto .card:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 2.5em 1.5em;
  background-color: #f7f7f7;
}
.restaurants .restaurant {
  background-color: white;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}
.restaurants .restaurant .img-container {
  position: relative;
  height: 70%;
}
.restaurants .restaurant .img-container .new {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #0a8d6c;
  background-color: #99E2D0;
  font-weight: 500;
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
}
.restaurants .restaurant .img-container img {
  max-width: 100%;
  width: 100%;
  max-height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurant .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: white;
  border-radius: 0 0 20px 20px;
  margin-bottom: 1em;
}
.restaurants .restaurant .text-container .fa-solid {
  display: none;
}
.restaurants .restaurant .text-container i {
  font-size: 1.5rem;
}
.restaurants .restaurant .text-container h3 {
  margin: 0.4em 0;
}
.restaurants .restaurant .text-container p {
  margin-top: 0.2em;
}
.restaurants .restaurant:hover .fa-solid {
  display: block;
  color: #c465da;
}
.restaurants .restaurant:hover .fa-regular {
  display: none;
}

body {
  font-family: "Roboto";
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */