header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .left-arrow {
  position: absolute;
  left: 5%;
  font-size: 2rem;
  color: #303030;
  padding: 0.5em 0.25em;
}
header .left-arrow:hover {
  cursor: pointer;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: black;
}
header h1 {
  font-family: "Shrikhand";
  color: black;
}
header a {
  max-width: 45%;
  display: flex;
  justify-content: center;
}
header img {
  margin: 1em auto;
  width: 100%;
}

.main-btn {
  padding: 1em 1.5em;
  margin: 1em;
  background-image: linear-gradient(125deg, hsl(307deg, 72%, 68%) 0%, hsl(304deg, 66%, 66%) 11%, hsl(301deg, 61%, 64%) 21%, hsl(297deg, 61%, 63%) 31%, hsl(294deg, 61%, 63%) 41%, hsl(290deg, 62%, 63%) 52%, hsl(287deg, 62%, 62%) 63%, hsl(284deg, 63%, 62%) 74%, hsl(280deg, 63%, 62%) 86%, hsl(277deg, 64%, 61%) 100%);
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.main-btn a {
  color: white;
}
.main-btn:hover {
  cursor: pointer;
  background-image: linear-gradient(125deg, rgb(233, 124, 220) 0%, rgb(228, 123, 221) 11%, rgb(218, 117, 216) 21%, rgb(214, 113, 219) 31%, rgb(207, 113, 218) 41%, rgb(200, 113, 218) 52%, rgb(194, 110, 218) 63%, rgb(188, 107, 218) 74%, rgb(180, 104, 218) 86%, rgb(176, 102, 221) 100%);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  text-align: center;
}
.hero .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  font-weight: 700;
  color: #303030;
  box-shadow: inset 0px 11px 8px -10px rgb(172, 172, 172);
}
.hero .localisation span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .localisation i {
  position: absolute;
  left: -1.5em;
}
.hero .localisation p:hover, .hero .localisation i:hover {
  cursor: pointer;
}
.hero .book {
  padding: 1em;
}
.hero .book .subtitle {
  color: #717171;
}

.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  max-width: 800px;
  margin: 0 auto;
}
.howto h2 {
  width: 100%;
}
.howto .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: #f7f7f7;
  font-weight: 700;
  margin: 1em 0;
  padding: 0.5em 0;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.howto .card span {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 50%;
}
.howto .card i {
  position: absolute;
  left: 11%;
  color: #717171;
}
.howto .card:hover {
  background-color: #f5edff;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
.howto .card:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 2.5em 1.5em;
  background-color: #f7f7f7;
}
.restaurants h2 {
  margin: 1em auto;
  max-width: 800px;
}
.restaurants .restaurant {
  display: block;
  background-color: white;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}
.restaurants .restaurant .img-container {
  position: relative;
  height: 70%;
}
.restaurants .restaurant .img-container .new {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #0a8d6c;
  background-color: #99E2D0;
  font-weight: 500;
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
}
.restaurants .restaurant .img-container img {
  max-width: 100%;
  width: 100%;
  max-height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurant .text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: white;
  border-radius: 0 0 20px 20px;
  margin-bottom: 1em;
}
.restaurants .restaurant .text-container .fa-solid {
  display: none;
}
.restaurants .restaurant .text-container i {
  font-size: 1.5rem;
}
.restaurants .restaurant .text-container h3 {
  margin: 0.4em 0;
}
.restaurants .restaurant .text-container p {
  margin-top: 0.2em;
}
.restaurants .restaurant:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
.restaurants .restaurant:hover .fa-solid {
  display: block;
  color: #c465da;
}
.restaurants .restaurant:hover .fa-regular {
  display: none;
}

footer {
  padding: 1.5em;
  background-color: #303030;
  color: white;
}
footer h2 {
  color: white;
  font-family: "Shrikhand";
  margin-top: 0;
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
}
footer span {
  width: 25px;
  float: left;
}
footer i {
  margin-right: 0.5em;
}
footer a {
  max-width: 800px;
  margin: 0 auto;
  color: white;
  display: block;
  text-decoration: none;
  margin-bottom: 0.3em;
}
footer a:hover, footer a:active {
  -webkit-text-decoration: 1px solid white;
          text-decoration: 1px solid white;
}

.background-wrapper {
  width: 100%;
  min-height: 250px;
}
.background-wrapper img {
  width: 100%;
  min-height: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: relative;
  margin-top: -30px;
  padding: 1em;
  background-color: #f7f7f7;
  border-radius: 30px 30px 0 0;
}
.menu .menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}
.menu .menu-wrapper h2 {
  margin: 0.3em 0;
  font-family: "Shrikhand";
}
.menu .menu-wrapper i {
  font-size: 1.5rem;
}
.menu .menu-wrapper .fa-solid {
  display: none;
}
.menu .menu-wrapper:hover {
  cursor: pointer;
}
.menu .menu-wrapper:hover .fa-solid {
  display: block;
  color: #9356DC;
}
.menu .menu-wrapper:hover .fa-regular {
  display: none;
}
.menu .menu-section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;
}
.menu .menu-section .unaligned {
  margin-left: 2em;
}
.menu .menu-section h3 {
  font-weight: 300;
  margin-bottom: 0.2em;
  font-size: 1rem;
}
.menu .menu-section .separator {
  height: 3px;
  background-color: #99E2D0;
  width: 35px;
}
.menu .menu-section .course-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 1em 0;
  height: 80px;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.menu .menu-section .course-card h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  text-overflow: ellipsis;
}
.menu .menu-section .course-card .menu-text {
  position: relative;
  padding: 1em 0 1em 1em;
  flex-grow: 1;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu-section .course-card .menu-text .flex {
  display: flex;
  justify-content: space-between;
}
.menu .menu-section .course-card .menu-text p {
  margin: 0;
  font-size: 0.9rem;
}
.menu .menu-section .course-card .menu-text span {
  margin-right: 1em;
  font-weight: 700;
  color: #303030;
  display: block;
}
.menu .menu-section .course-card .check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
  width: 0;
  flex-grow: 0;
  border-radius: 0 20px 20px 0;
  transition: all 0.8s ease;
}
.menu .menu-section .course-card .check i {
  font-size: 1.5rem;
  font-weight: bold;
}
.menu .menu-section .course-card:hover {
  cursor: pointer;
}
.menu .menu-section .course-card:hover .check {
  display: flex;
  flex-grow: 0.2;
  visibility: visible;
  width: 20%;
  max-width: 20%;
  opacity: 1;
}
.menu .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.menu .btn-container button {
  padding: 0.8em 2em;
  font-size: 0.95rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=index.css.map */